@font-face {
   font-family: Ubuntu;
   src: url("./../resources/Ubuntu-Bold.ttf");
}
body {
   overflow: hidden;
   height: 100%;
   background-color: #202020;
}
h2 {
   font-family: Ubuntu;
   color: floralwhite;
}
.node {
   cursor: default;
}
.node rect {
   fill: #000000 !important;
   stroke: #333 !important;
}
.edge-thickness-normal:hover {
   stroke-width: 8px !important;
   stroke: green !important;
   cursor: help;
}
.mermaidGraph {
   display: none;
}
.edgeLabel {
   background-color: #202020 !important;
}